@import url(https://allfont.net/allfont.css?fonts=agency-fb);

:root {
    --color-dark-blue: rgb(37, 29, 58);
    --color-blue: rgb(42, 37, 80);
    --color-dark-orange: rgb(224, 77, 1);
    --color-light-orange: rgb(255, 119, 0);

    --font-200: normal 100 1.2rem 'Agency FB', Sans-serif;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior:smooth
}

body {
    overflow-x: hidden;
    background-color: var(--color-blue);
    background-image: linear-gradient(rgba(18, 6, 53, 0.7), rgba(0, 0, 0, 0.7)), url(Img/cottonbro.jpg);
    background-position: top;
    background-size: 150vh;
    background-repeat: no-repeat;
    position: relative;
}

*,*::before,*::after {
    box-sizing: inherit;
}

header {
    min-height: 10vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(25, 5, 71, 0.7), rgba(4,9,30,0.7)), url(Img/fondo.jpg);*/
    position: relative;
}


* {
    color: var(--color-light-orange);
    margin: 0;
    padding: 0;
    font: var(--font-200);

}

nav {
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    position: absolute;
    color: var(--color-blue);
    background-color: var(--color-dark-orange);
    right: -300px;
}


.nav-links ul li {
    display: block;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 25px;
}

.logo {
    top: 10px;
    width: 80%;
}

h1 {
    color: var(--color-dark-orange);
    font: var(--font-200);
}

h2 {
    font: var(--font-open);
    font: var(--font-200);
    color: var(--color-light-orange);
}

.section {
    background-color: var(--color-dark-blue);
}

#home {
    padding: 1rem;
    margin: 10%;
    background: none;
    background-color: rgba(37, 29, 58, 0.6);
    border-width: 10px;
    border-style: double;
    border-radius: 5%;
    border-color: var(--color-dark-orange);
    text-align: center;
    
}

#home img {
    width: 50%;
    border-radius: 50%;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--color-light-orange);
}

#projects {
    margin-top: 80vh;
}

/***** Hamburguer Maenu ****/

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-dark-blue);
    transition: transform .3s ease;
    transform: translate(0, -100%);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel.is-active {
    transform: translate(0, 0);
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-light-orange);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--color-dark-blue);
    background-color: var(--color-dark-orange);
}

#epa {
    padding: 0;
    background-color: var(--color-dark-orange);
}